* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


html {
    font-family: "Montserrat", sans-serif;
  }


body {
    background: #eee;
    padding:0 16px;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");

  }


header{
    background-color:#f5ba13;
    margin:auto -16px;
    padding:16px 32px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    
}


header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }

.logOut{
    position:absolute;
    right:3rem;
    top:1.5rem;
    border-radius:5px;
    border:none;
    background-color: #fff;
    color:rgba(0, 0, 0, 0.788);
    width:auto;
    height:5%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    
}

.logOut:hover{
  background-color:rgba(0, 0, 0, 0.411);
  color:#fff;
  cursor:pointer;
  font-size: 1.2em;
}

footer{
    position:fixed;
    text-align: center;
    bottom:0;
    height:2.5rem;
    width:100%;
    
  }

footer p{
    color: #ccc;
}

.notes{
    background:#fff;
    padding:10px;
    border-radius:7px;
    margin:16px;
    width:300px;
    height: 180px;
    box-shadow: 0 2px 5px #ccc;
    
    float: left;
    overflow-y: auto;
    
}

.notes h1{
    font-size:1.1em;
    margin-bottom:6px;
}

.notes p{
    margin-bottom:10px;
    font-size:1.1em;
    white-space:pre-wrap;
    word-wrap:break-word;
}

.notes button{
    position: relative;
    margin-right: 10px;
    float:right;
    border:none;
    outline:none;
    background: white;
    color:#f5ba13;
    width: 36px;
    height: 36px;
    cursor:pointer;
    top:1px;
   
}

form.createNote{
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.createNote input,
form.createNote textarea{width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  width: 100%;

}

form.createNote button{
  position:absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border-radius: 50%;
  border:none;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor:pointer;
  outline: none;
}

.error{
  color:red;
  margin-bottom: 10px;
  font-family: cursive;
  font-size: 1em;

}

form.login{
  margin:100px auto;
  padding:5%;
  text-align: center;
  width:390px;
 
}

form.login input {
  width:100%;
  border:none;
  border-radius:7px;
  padding:3px;
  margin-bottom:15px;
  font-size:1.1em;
  height:50px;
  text-align: center;
  background:#fff;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.login button{
  width:60%;
  border:none;
  border-radius:7px;
  padding:3px;
  margin-top:15px;
  font-size:1.2em;
  height:40px;
  text-align: center;
  background:#f8c22b;
  color:#fff;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.login button:hover{
  background-color:rgb(138, 137, 137);
  color:#fff;
  cursor:pointer;
  font-size: 1.3em;
}

form.login p{
  margin-top:20%;
  color:rgba(0, 0, 0, 0.952);
}

.signUp{
  width:95%;
  text-align: center;
  margin: 3% 1%;
  margin-left: 4.5%;
  padding-top: 3%;
}

.signUp h1{
  font-weight:1000;
  font-size:5em;
  color:#f8c22b;
  text-shadow:2px 2px 4px rgba(49, 37, 37, 0.219);
}

.sp{
  font-family: cursive;
  font-size: 1.3em;
  color:rgb(34,33,33);
  padding:4% auto;
}
.signUp button{
  width:auto;
  border:none;
  border-radius:7px;
  padding:3px  25px;
  margin-top:60px;
  margin-left: 20px;
  margin-right: 20px;
  font-size:1.2em;
  height:40px;
  text-align: center;
  background:#f8c22b;
  color:#fff;
  box-shadow: 0 1px 5px rgba(49, 37, 37, 0.219);
  
}
.signUp button:hover{
  background-color:rgb(138, 137, 137);
  color:#fff;
  cursor:pointer;
  font-size:1.4em;
}

